<div class="content-heading">
  Dashboard
</div>
<div class="row animated zoomIn amount">
  <div class="col-lg-3 col-sm-3" routerLink="/dashboard/photo">
    <!-- START widget-->
    <div class="panel bg-primary-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-picture-o fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span>Photo</span>
        </div>
        <div class="text-uppercase">Photo</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-3" routerLink="/dashboard/music">
    <!-- START widget-->
    <div class="panel widget bg-purple-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-music fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span>Music</span>
        </div>
        <div class="text-uppercase">Music</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3" routerLink="/dashboard/video">
    <!-- START widget-->
    <div class="panel widget bg-info-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-video-camera fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span>video</span>
        </div>
        <div class="text-uppercase">Video</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3" routerLink="/dashboard/story">
    <!-- START widget-->
    <div class="panel widget bg-success-light pt b0 widget">
      <div class="ph">
        <em class="fa fa-book fa-2x pull-right"></em>
        <div class="h2 mt0">
          <span>story</span>
        </div>
        <div class="text-uppercase">Story</div>
      </div>
      <div class="h-75"></div>
    </div>
  </div>
</div>